<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            {{fa-icon "bars"}}
        </button>
    </div>

    <div class="header-block header-block-search">
        <form role="search">
            <div class="input-container">
                {{fa-icon "search"}}
                {{input type="search" placeholder="Search" value=lastSearch}}
                <div class="underline"></div>
            </div>
        </form>
    </div>

    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="notifications new">
                <a href="" {{action "toggleNotificationDropDown"}}>
                    {{fa-icon "bell-o"}}
                    <sup>
                        <span class="counter">8</span>
                    </sup>
                </a>
                {{#if showNotificationDropDown}}
                    <div class="dropdown-menu notifications-dropdown-menu show">
                        <ul class="notifications-container">
                            <li>
                                <a href="" class="notification-item">
                                    <div class="img-col">
                                        <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                                    </div>
                                    <div class="body-col">
                                        <p>
                                            <span class="accent">Zack Alien</span> pushed new commit:
                                            <span class="accent">Fix page load performance issue</span>.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="notification-item">
                                    <div class="img-col">
                                        <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>
                                    </div>
                                    <div class="body-col">
                                        <p>
                                            <span class="accent">Amaya Hatsumi</span> started new task:
                                            <span class="accent">Dashboard UI design.</span>.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="notification-item">
                                    <div class="img-col">
                                        <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>
                                    </div>
                                    <div class="body-col">
                                        <p>
                                            <span class="accent">Andy Nouman</span> deployed new version of
                                            <span class="accent">NodeJS REST Api V3</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <footer>
                            <ul>
                                <li>
                                    <a href=""> View All </a>
                                </li>
                            </ul>
                        </footer>
                    </div>
                {{/if}}
            </li>
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" {{action "toggleProfileDropDown"}} href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"> </div>
                    <span class="name"> John Doe </span>
                </a>

                {{#if showProfileDropDown}}
                    <div class="dropdown-menu profile-dropdown-menu show" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="#">{{fa-icon "user" class="icon"}} Profile </a>
                        <a class="dropdown-item" href="#">{{fa-icon "bell icon"}} Notifications </a>
                        <a class="dropdown-item" href="#">{{fa-icon "gear icon"}} Settings </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">{{fa-icon "power-off icon"}} Logout </a>
                    </div>
                {{/if}}
            </li>
        </ul>
    </div>
</header>
